
<div class="container">
  <mat-card *ngFor="let bundle of bundles">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{bundle.title}}</mat-card-title>
        <mat-card-subtitle>{{bundle.description}}</mat-card-subtitle>
        <img src="{{bundle.photoUrl}}" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>Rating <span>{{bundle.rating}}</span></p>
      <p>Price <span>{{bundle.price}}</span></p>
      <p>Your Save <span>{{ calculateYouSave(bundle.id) | number:'1.3-3' }}</span></p>
    </mat-card-content>
  </mat-card>
</div>

